@import "primeicons/primeicons.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 0rem !important;
}

.line {
    border: 1px solid rgb(226, 226, 226);
}

.required {
    color: rgb(255, 0, 0);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.lh-lg {
    line-height: 36px !important;
}

.lh-sm {
    line-height: 20px !important;
}

$font-weights: ( 100: 100, 200: 200, 300: 300, 400: 400, 500: 500, 600: 600, 700: 700, 800: 800, 900: 900, ) !default;
.f-w {
    &-100 {
        font-weight: map-get($font-weights, 100) !important;
        ;
    }
    &-200 {
        font-weight: map-get($font-weights, 200) !important;
        ;
    }
    &-300 {
        font-weight: map-get($font-weights, 300) !important;
        ;
    }
    &-400 {
        font-weight: map-get($font-weights, 400) !important;
        ;
    }
    &-500 {
        font-weight: map-get($font-weights, 500) !important;
        ;
    }
    &-600 {
        font-weight: map-get($font-weights, 600) !important;
        ;
    }
    &-700 {
        font-weight: map-get($font-weights, 700) !important;
        ;
    }
    &-800 {
        font-weight: map-get($font-weights, 800) !important;
        ;
    }
    &-900 {
        font-weight: map-get($font-weights, 900) !important;
        ;
    }
}

// Define dynamic font-size values
$font-sizes: ( 10: 10px, 12: 12px, 14: 14px, 16: 16px, 18:18px, 20:20px, 24:24px, 30:30px) !default;
.f-s {
    &-10 {
        font-size: map-get($font-sizes, 10) !important;
    }
    &-12 {
        font-size: map-get($font-sizes, 12) !important;
    }
    &-14 {
        font-size: map-get($font-sizes, 14) !important;
    }
    &-16 {
        font-size: map-get($font-sizes, 16) !important;
    }
    &-18 {
        font-size: map-get($font-sizes, 18) !important;
    }
    &-20 {
        font-size: map-get($font-sizes, 20) !important;
    }
    &-24 {
        font-size: map-get($font-sizes, 24) !important;
    }
    &-30 {
        font-size: map-get($font-sizes, 30) !important;
    }
}

.mat-mdc-card {
    background-color: white !important;
    margin-bottom: 30px !important;
    border-radius: 20px !important;
}

.mat-mdc-card-header {
    padding: 30px 30px 0 !important;
}

.mat-mdc-card-content {
    padding: 0 30px !important;
}

.cardWithShadow {
    box-shadow: 1px 0 20px #00000014 !important;
}

.mat-mdc-card-title {
    line-height: 1.6rem !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}

.mdc-card__actions {
    padding: 30px !important;
}

.theme-card.mat-mdc-card {
    .mat-mdc-card-header {
        padding: 16px 30px !important;
    }
    .mat-mdc-card-content {
        padding: 30px !important;
    }
}

.card-hover {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    &:hover {
        scale: 1.01;
        transition: all 0.1s ease-in 0s;
    }
}

html .mat-mdc-chip {
    height: 24px !important;
    font-size: 14px !important;
    background-color: #f2f6fa !important;
}

.cardBorder {
    .mdc-card {
        box-shadow: none !important;
        border: 1px solid #e5eaef!important;
        &.shadow-none {
            border: 0 !important;
        }
    }
}

.sidebar-list.mdc-list .menu-list-item .mdc-list-item__start {
    margin-right: 0 !important;
    margin-left: 14px !important;
}

.sidebarNav-mini {
    .sidebarNav {
        width: 80px !important;
        ;
        .profile-bar {
            display: none;
        }
        .sidebar-list {
            .menu-list-item {
                padding: 8px 17px;
                .mdc-list-item__content {
                    display: none;
                }
                .mdc-list-item__start {
                    margin-left: 6px !important;
                    margin-right: 8px !important;
                }
            }
        }
    }
    .hideMenu {
        overflow: hidden;
        width: 80px !important;
    }
    .branding {
        width: 80px - 15px;
        overflow: hidden;
    }
    .sidebar-list {
        &.mdc-list {
            padding: 0 12px;
            .mdc-list-group__subheader {
                text-align: center;
            }
        }
    }
    .contentWrapper {
        margin-left: 80px !important;
        transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    }
}

.sidebar-list {
    &.mdc-list {
        padding: 0 16px;
        .mdc-list-group__subheader {
            margin: 12px 0;
            font-size: 0.75rem;
            font-weight: 500;
            margin-top: 24px;
        }
        .menu-list-item {
            border-radius: 10px;
            height: 45px;
            right: 2px;
            margin-bottom: 2px;
            &.twoline {
                height: 60px;
                align-items: center;
            }
            &:before,
            &:focus {
                z-index: -1;
            }
            &.disabled {
                opacity: 0.38;
            }
            .item-chip {
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
            }
            &.activeMenu {
                .mdc-list-item__primary-text {
                    color: white !important;
                }
            }
            &.activeSubMenu {
                .mdc-list-item__primary-text {
                    color: #03c9d7 !important;
                    font-weight: 500;
                }
            }
            .mdc-list-item__start {
                margin-right: 14px !important;
                margin-left: 4px !important;
                width: 20px;
                height: 20px;
                fill: transparent !important;
                display: flex;
            }
            .mdc-list-item__primary-text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 15px;
                .arrow-icon {
                    display: flex;
                    .mat-icon {
                        font-size: 18px;
                        width: 18px;
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

 ::-webkit-scrollbar-track {
    background: #b7edf1;
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #03c9d7;
    border-radius: 5px;
    cursor: auto;
}

.table-responsive {
    overflow-x: auto;
    td,
    mat-cell {
        white-space: nowrap;
        padding: 16px;
    }
}

.mat-subtitle-2 {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: normal;
    margin: 0;
    color: #2a3547;
}

thead {
    background-color: #E1F4FF !important;
    border: 2px solid #d7e4ec !important;
    box-shadow: 0px 1px 3px rgba(163, 163, 163, 0.945) !important;
}

.blank-layout-container {
    height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
}

.cancel-btn {
    background-color: white !important;
    border: 1px solid black !important;
    width: auto !important;
    border-radius: 10px !important;
    margin-right: 2rem !important;
}

.submit-btn {
    border-radius: 10px !important;
    background-color: #fb9778 !important;
    width: auto !important;
    // margin-right: 2rem !important;
    &:disabled {
        background-color: #b0e0e6;
        cursor: not-allowed;
        opacity: 0.6;
    }
}

a {
    text-decoration: none !important;
}

.p-inputswitch {
    width: 3rem !important;
    height: 1.3rem !important;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #03c9d7 !important;
    &:disabled {
        background-color: #b0e0e6;
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.search-img-position {
    position: absolute;
    left: 10px;
}

.search-img-position2 {
    position: absolute;
    left: 25px;
    top: 25px;
}

.search-container {
    position: relative;
    width: 94%;
    bottom: 10px;
    // left: 35px;
}

.search-container1 {
    width: 94%;
    bottom: 10px;
    top: 5px;
}

.search-input {
    width: 80% !important;
    cursor: auto !important;
    height: 40px !important;
    padding-left: 40px !important;
    font-size: 14px !important;
    border-radius: 16px !important;
    box-shadow: 0px 1px 3px rgba(163, 163, 163, 0.945) !important;
}

.p-input-icon-right>.p-inputtext {
    padding-right: 9rem !important;
    cursor: pointer;
}