::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #fb9778 !important;
    background: #fb9778 !important;
}

.error-msg {
    font-size: small;
}

.text-error {
    color: #dc3545;
}