// ::ng-deep .p-card {
//     background: #ffffff;
//     color: #4b5563;
//     box-shadow: 1px 0 20px #00000014 !important;
//     border-radius: 16px;
// }
// ::ng-deep .p-card .p-card-title {
//     font-size: 18px;
//     font-weight: 600;
//     margin-bottom: 0.5rem;
// }
// ::ng-deep .p-button {
//     color: #ffffff !important;
//     background: #fb9778 !important;
//     border: 1px solid #f0ecea !important;
//     border-radius: 8px;
// }
// ::ng-deep .p-menuitem-content {
//     margin-left: -27px !important;
// }
.card-container {
    position: relative;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

.card {
    position: absolute;
    width: 200px;
    z-index: 1;
    top: 16px;
    left: -40px;
    border-radius: 8px;
    border-top: 10px solid #fb9778;
    border-left: 5px solid #fb9778;
    border-right: 5px solid #fb9778;
    border-bottom: 5px solid #fb9778;
}

.second-card {
    position: absolute;
    z-index: 1;
    width: 220px;
    left: 165px;
    top: 70px;
}

.card-header {
    font-weight: bold;
    font-size: 1.2em;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    cursor: pointer
}

.card-body ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 20px;
}

.card-body ul li.active {
    background: #fb9778 !important;
    border-radius: 10px !important;
    padding: 10px !important;
    color: white;
}