.search-img-position {
    position: absolute;
    left: 10px;
}

.chipList {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #F1F1F1;
    height: 170px;
}

.heading {
    background-color: #E1F4FF !important;
    border: 2px solid #d7e4ec !important;
    box-shadow: 0px 1px 3px rgba(163, 163, 163, 0.945) !important;
    width: 60%;
}

::ng-deep .mat-accent.mat-mdc-checkbox {
    --mdc-checkbox-selected-pressed-icon-color: #fb9778 !important;
    --mdc-checkbox-selected-focus-icon-color: #fb9778 !important;
    --mdc-checkbox-selected-hover-icon-color: #fb9778 !important;
    --mdc-checkbox-selected-icon-color: #fb9778 !important;
}