// ::ng-deep .iti__selected-flag {
//     z-index: 1;
//     position: relative;
//     display: flex;
//     align-items: center;
//     height: 100%;
//     padding: 0 0 0 5px;
//     cursor: pointer;
//     width: 80px !important;
// }
// ::ng-deep .iti__flag-container {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: auto;
//     left: 0;
//     padding: 1px;
//     cursor: pointer;
//     border: 1px solid #d4cece;
//     border-radius: 7px;
// }
// ::ng-deep .iti.separate-dial-code input {
//     height: 3.5rem;
//     right: -86px !important;
//     padding-right: 19px !important;
//     padding-left: 12px !important
// }
// ::ng-deep .iti__country-list {
//     list-style: none;
//     padding: 0;
//     overflow: hidden;
// }
::ng-deep .dropdown-menu.show {
    display: block;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
}

.error-msg {
    font-size: small;
}

.text-error {
    color: #dc3545;
}

.search-img-position {
    position: absolute;
    left: 10px;
}

.chipList {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #F1F1F1;
    height: 170px;
}

.heading {
    background-color: #E1F4FF !important;
    border: 2px solid #d7e4ec !important;
    box-shadow: 0px 1px 3px rgba(163, 163, 163, 0.945) !important;
    width: 60%;
}

::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #fb9778 !important;
    background: #fb9778 !important;
}

::ng-deep .mat-accent.mat-mdc-checkbox {
    --mdc-checkbox-selected-pressed-icon-color: #fb9778 !important;
    --mdc-checkbox-selected-focus-icon-color: #fb9778 !important;
    --mdc-checkbox-selected-hover-icon-color: #fb9778 !important;
    --mdc-checkbox-selected-icon-color: #fb9778 !important;
}