.flex-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
}

.mat-drawer {
    background-color: white;
    border-top-right-radius: 40px !important;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.0784313725) !important;
}

.mainWrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex: 1;
    height: 100%;
}

.pageWrapper {
    padding: 10px;
    min-height: calc(100vh - 70px);
    margin: 0 auto;
}

.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
}

.mat-drawer.sidebarNav {
    width: 300px;
    flex-shrink: 0;
    position: absolute;
    overflow-x: hidden !important;
    transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    border-radius: 10px;
}