.mat-mdc-paginator {
    background-color: white!important
}

::ng-deep div.mat-mdc-select-panel {
    background-color: #fff !important;
}

::ng-deep .mat-mdc-cell {
    border-bottom-width: 0px !important;
    background-color: white !important;
}

button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    color: black;
}

::ng-deep .mat-mdc-menu-content {
    border-radius: 10px;
    border: 5px solid #fb9778 !important;
    padding: 0px !important;
    outline: 0;
}

::ng-deep .mat-mdc-table {
    max-width: 90% !important;
    min-width: 0% !important;
    margin-left: 42px !important;
}

::ng-deep .mat-mdc-paginator-container {
    width: 90% !important;
    min-width: 0% !important;
    margin-left: 42px !important;
}

.matTableDataCollapse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    margin: 0;
}

.color-dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    vertical-align: middle;
}

.selected-row {
    background-color: red !important;
    color: rgb(203, 14, 14);
}